.env
.venv/
venv/
__pycache__/
*.pyc
.DS_Store
*.parquet
ingest/raw/
.dbt/
target/
dbt_packages/
logs/
.idea/
.vscode/
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
dbt/ttf_gas/profiles.yml
google-credentials.json